{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="fr"{% endblock html_attribs %}
{% block title %}
    Bravo !!
{% endblock title %}
{% block content %}
<h1>Bravo !</h1>
<table>
    <tr>
        <td> <img src="{{ url_for('static', filename='img/rick-astley-never-gonna-give-you-up.gif') }}" alt="Rick Astley"> </td>
        <td> <img src="{{ url_for('static', filename='img/licorne.jpg') }}" alt="paysage" class="img-thumbnail img-responsive center-block"/> </td>
    </tr>
</table>
{% endblock content %}
