<!-- On étend le template de base de Bootstrap -->
{% extends "bootstrap/base.html" %}

<!-- On définit les attributs de la balise html, ici on spécifie la langue du document -->
{% block html_attribs %} lang="fr"{% endblock html_attribs %}

<!-- On définit le titre de la page -->
{% block title %}Index{% endblock title %}

<!-- On définit le contenu principal de la page -->
{% block content %}

    <h1>CapEveCorp QuiZ 2023</h1>
    <!-- Ajout du logo -->
    <img src="{{ url_for('static', filename='img/logo.jfif') }}" alt="Logo" style="width: 50%; margin: 0 auto;">
    </br>
    </br>

    
    <h1>Pages principales de l'application asitis</h1>
    <table>
        <tr>
            <th>URL</th>
            <th>Méthode HTTP</th>
            <th>Description</th>
            <th>Opérationnel</th>
            <th>Commentaire</th>
        </tr>
        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz/1">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz/1</a></td>
            <td>GET</td>
            <td>Exemple de quiz.</td>
            <td>Oui</td>
        </tr>
        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/</a></td>
            <td>GET</td>
            <td>Affiche la page d'accueil. Requiert une connexion utilisateur pour y accéder.</td>
            <td>oui</td>
            <td></td>
        </tr>

        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/getallutilisateurs">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/getallutilisateurs</a></td>
            <td>GET</td>
            <td>Récupère toutes les informations des utilisateurs de la base de données.</td>
            <td>Oui</td>
        </tr>

        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/htmlutilisateurs">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/htmlutilisateurs</a></td>
            <td>GET</td>
            <td>Récupère toutes les informations des utilisateurs de la base de données et les affiche dans une page HTML.</td>
            <td>Oui</td>
        </tr>
        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz</a></td>
            <td>GET</td>
            <td>Affiche tous les quiz de la base de données.</td>
            <td>Oui</td>
        </tr>
        <tr>
            <td><a href="http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz_new">http://cec-alb3-11583357.eu-west-1.elb.amazonaws.com:8080/quiz_new</a></td>
            <td>POST</td>
            <td>Affiche le formulaire pour créer un nouveau quiz. Crée un nouveau quiz à partir des informations du formulaire soumis.</td>
            <td>Oui</td>
        </tr>
        </table>
        <table>
        <tr>
            <td> <img src="{{ url_for('static', filename='img/rick-astley-never-gonna-give-you-up.gif') }}" alt="Rick Astley"> </td>
            <td> <img src="{{ url_for('static', filename='img/licorne.jpg') }}" alt="paysage" class="img-thumbnail img-responsive center-block"/> </td>
        </tr>
        </table>
  
    
{% endblock content %}
