{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="fr"{% endblock html_attribs %}
{% block title %}Liste des utilisateurs{% endblock title %}

{% block content %}
<h1>Liste des utilisateurs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Mot de passe</th>
            <th>E-mail</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs %}
        <tr>
            <td>{{ utilisateur.id }}</td>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.mot_de_passe }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}